--
-- PostgreSQL database dump
--

\restrict udFtuIzf6zTh8ipyAiTxHXQ6UbtWRM8OGI6IB0jfnkEkyh8ZHprvOtj7KIlfs3z

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: lims
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO lims;

--
-- Name: events; Type: TABLE; Schema: public; Owner: lims
--

CREATE TABLE public.events (
    id integer NOT NULL,
    sample_id integer,
    user_id integer,
    action character varying(200) NOT NULL,
    details json,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.events OWNER TO lims;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: lims
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.events_id_seq OWNER TO lims;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: lims
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: lims
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    name character varying(250) NOT NULL,
    description character varying,
    owner_id integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.projects OWNER TO lims;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: lims
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.projects_id_seq OWNER TO lims;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: lims
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: samples; Type: TABLE; Schema: public; Owner: lims
--

CREATE TABLE public.samples (
    id integer NOT NULL,
    barcode character varying(128) NOT NULL,
    project_id integer,
    sample_type character varying(100),
    metadata json,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.samples OWNER TO lims;

--
-- Name: samples_id_seq; Type: SEQUENCE; Schema: public; Owner: lims
--

CREATE SEQUENCE public.samples_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.samples_id_seq OWNER TO lims;

--
-- Name: samples_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: lims
--

ALTER SEQUENCE public.samples_id_seq OWNED BY public.samples.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: lims
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(320) NOT NULL,
    full_name character varying(200),
    hashed_password character varying NOT NULL,
    is_active boolean NOT NULL,
    is_superuser boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO lims;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: lims
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO lims;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: lims
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: samples id; Type: DEFAULT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.samples ALTER COLUMN id SET DEFAULT nextval('public.samples_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: lims
--

COPY public.alembic_version (version_num) FROM stdin;
35504c57cc7c
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: lims
--

COPY public.events (id, sample_id, user_id, action, details, created_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: lims
--

COPY public.projects (id, name, description, owner_id, created_at) FROM stdin;
\.


--
-- Data for Name: samples; Type: TABLE DATA; Schema: public; Owner: lims
--

COPY public.samples (id, barcode, project_id, sample_type, metadata, created_at) FROM stdin;
1	S001	\N	Blood	{"donor": "D1", "collection_date": "2025-10-24"}	2025-10-23 20:00:25.854679+00
4	S003	\N	Blood	{"donor": "D3", "collection_date": "2025-10-24"}	2025-10-23 20:34:44.12631+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: lims
--

COPY public.users (id, email, full_name, hashed_password, is_active, is_superuser, created_at) FROM stdin;
1	dev@example.com	Dev	$argon2id$v=19$m=65536,t=3,p=4$m/N+TwkhBGDMee/9PyfEGA$rfj7v799qPLv05TgvvS6G/U94WdBiN7njG0k+SHfdGQ	t	f	2025-10-23 19:31:09.728455+00
\.


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lims
--

SELECT pg_catalog.setval('public.events_id_seq', 1, false);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lims
--

SELECT pg_catalog.setval('public.projects_id_seq', 1, false);


--
-- Name: samples_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lims
--

SELECT pg_catalog.setval('public.samples_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lims
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: samples samples_pkey; Type: CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT samples_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_events_id; Type: INDEX; Schema: public; Owner: lims
--

CREATE INDEX ix_events_id ON public.events USING btree (id);


--
-- Name: ix_projects_id; Type: INDEX; Schema: public; Owner: lims
--

CREATE INDEX ix_projects_id ON public.projects USING btree (id);


--
-- Name: ix_samples_barcode; Type: INDEX; Schema: public; Owner: lims
--

CREATE UNIQUE INDEX ix_samples_barcode ON public.samples USING btree (barcode);


--
-- Name: ix_samples_id; Type: INDEX; Schema: public; Owner: lims
--

CREATE INDEX ix_samples_id ON public.samples USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: lims
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: lims
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: events events_sample_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_sample_id_fkey FOREIGN KEY (sample_id) REFERENCES public.samples(id);


--
-- Name: events events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: projects projects_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: samples samples_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: lims
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT samples_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- PostgreSQL database dump complete
--

\unrestrict udFtuIzf6zTh8ipyAiTxHXQ6UbtWRM8OGI6IB0jfnkEkyh8ZHprvOtj7KIlfs3z

